@import "primeicons/primeicons.css";

body {
  background-color: #121212; /* mismo tono que el dashboard */
  color: #E0E0E0;            /* texto en gris claro */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.text-down {
  color: #e53935; /* rojo pérdidas */
}

.text-up {
  color: #43a047; /* verde ganancias */
}