@import "primeicons/primeicons.css";

body {
  background-color: #121212; /* mismo tono que el dashboard */
  color: #E0E0E0;            /* texto en gris claro */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.text-down {
  color: #e53935; /* rojo pérdidas */
}

.text-up {
  color: #43a047; /* verde ganancias */
}

/* Cambiar color del texto del tab activo */
.p-tablist .p-tab[aria-selected="true"] {
  color: #42a5f5 !important; /* azul */
  border-color: #42a5f5 !important;
}

.p-tablist-active-bar{
    background:#42a5f5 !important;
}


.p-iconfield, 
.p-iconfield .p-autocomplete,
.p-iconfield .p-autocomplete-input {
  width: 100% !important;
}

.p-tablist,
.p-tabpanels,
.p-datatable-tbody > tr {
    background: none;
}
