<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">IPSA</p-tab>
    <p-tab value="1">IGPA</p-tab>
    <p-tab value="2">NASDAQ</p-tab>
    <p-tab value="3">DOW JONES</p-tab>
    <p-tab value="4">SP/BVL</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <div *ngIf="signalStore.constituents() as r">
              <p-table [value]="dataTable1" [tableStyle]="{ 'min-width': '60rem' }" size="small">
                <ng-template #header>
                  <tr>
                    <th pSortableColumn="codeInstrument" style="width: 14%">
                      <div class="flex items-center gap-2">
                        Nombre
                        <p-sortIcon field="codeInstrument" />
                      </div>
                    </th>
                    <th pSortableColumn="lastPrice" style="width: 14%">
                      <div class="flex items-center gap-2">
                        Último*
                        <p-sortIcon field="lastPrice" />
                      </div>
                    </th>
                    <th pSortableColumn="category" style="width: 14%">
                      <div class="flex items-center gap-2">
                        Monto (MM)
                        <p-sortIcon field="category" />
                      </div>
                    </th>
                    <th pSortableColumn="pctDay" style="width: 14%">
                      <div class="flex items-center gap-2">
                        Var día
                        <p-sortIcon field="pctDay" />
                      </div>
                    </th>
                    <th pSortableColumn="pct30D" style="width: 14%">
                      <div class="flex items-center gap-2">
                        Var 30d**
                        <p-sortIcon field="pct30D" />
                      </div>
                    </th>
                    <th pSortableColumn="pctCY" style="width: 14%">
                      <div class="flex items-center gap-2">
                        Año Actual
                        <p-sortIcon field="pctCY" />
                      </div>
                    </th>
                    <th pSortableColumn="pct1Y" style="width: 14%">
                      <div class="flex items-center gap-2">
                        12 Meses
                        <p-sortIcon field="pct1Y" />
                      </div>
                    </th>
                  </tr>
                </ng-template>
                <ng-template #body let-product>
                  <tr>
                    <td (click)="changeInstrument(product.codeInstrument)" class="cpointer">
                      {{ product.codeInstrument }}
                    </td>
                    <td>{{ product.lastPrice | number : '1.2-2' }}</td>
                    <td>{{ product.pctDay | number : '1.2-2' }}</td>
                    <td [ngClass]="product.pctDay > 0 ? 'text-up' : 'text-down'">
                      {{ product.pctDay | number : '1.2-2' }}%
                    </td>
                    <td [ngClass]="product.pct30D > 0 ? 'text-up' : 'text-down'">
                      {{ product.pct30D | number : '1.2-2' }}%
                    </td>
                    <td [ngClass]="product.pctCY > 0 ? 'text-up' : 'text-down'">
                      {{ product.pctCY | number : '1.2-2' }}%
                    </td>
                    <td [ngClass]="product.pct1Y > 0 ? 'text-up' : 'text-down'">
                      {{ product.pct1Y | number : '1.2-2' }}%
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="col-6">
            <div *ngIf="signalStore.constituents() as r">
              <p-table [value]="dataTable2" [tableStyle]="{ 'min-width': '60rem' }" size="small">
                <ng-template #header>
                  <tr>
                    <th pSortableColumn="codeInstrument" style="width: 14%">
                      <div class="flex items-center gap-2">
                        Nombre
                        <p-sortIcon field="codeInstrument" />
                      </div>
                    </th>
                    <th pSortableColumn="lastPrice" style="width: 14%">
                      <div class="flex items-center gap-2">
                        Último*
                        <p-sortIcon field="lastPrice" />
                      </div>
                    </th>
                    <th pSortableColumn="category" style="width: 14%">
                      <div class="flex items-center gap-2">
                        Monto (MM)
                        <p-sortIcon field="category" />
                      </div>
                    </th>
                    <th pSortableColumn="pctDay" style="width: 14%">
                      <div class="flex items-center gap-2">
                        Var día
                        <p-sortIcon field="pctDay" />
                      </div>
                    </th>
                    <th pSortableColumn="pct30D" style="width: 14%">
                      <div class="flex items-center gap-2">
                        Var 30d**
                        <p-sortIcon field="pct30D" />
                      </div>
                    </th>
                    <th pSortableColumn="pctCY" style="width: 14%">
                      <div class="flex items-center gap-2">
                        Año Actual
                        <p-sortIcon field="pctCY" />
                      </div>
                    </th>
                    <th pSortableColumn="pct1Y" style="width: 14%">
                      <div class="flex items-center gap-2">
                        12 Meses
                        <p-sortIcon field="pct1Y" />
                      </div>
                    </th>
                  </tr>
                </ng-template>

                <ng-template #body let-product>
                  <tr>
                    <td (click)="changeInstrument(product.codeInstrument)" class="cpointer">
                      {{ product.codeInstrument }}
                    </td>
                    <td>{{ product.lastPrice | number : '1.2-2' }}</td>
                    <td>{{ product.pctDay | number : '1.2-2' }}</td>
                    <td [ngClass]="product.pctDay > 0 ? 'text-up' : 'text-down'">
                      {{ product.pctDay | number : '1.2-2' }}%
                    </td>
                    <td [ngClass]="product.pct30D > 0 ? 'text-up' : 'text-down'">
                      {{ product.pct30D | number : '1.2-2' }}%
                    </td>
                    <td [ngClass]="product.pctCY > 0 ? 'text-up' : 'text-down'">
                      {{ product.pctCY | number : '1.2-2' }}%
                    </td>
                    <td [ngClass]="product.pct1Y > 0 ? 'text-up' : 'text-down'">
                      {{ product.pct1Y | number : '1.2-2' }}%
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </p-tabpanel>
    <p-tabpanel value="1"></p-tabpanel>
    <p-tabpanel value="2"></p-tabpanel>
    <p-tabpanel value="3"></p-tabpanel>
    <p-tabpanel value="4"></p-tabpanel>
  </p-tabpanels>
</p-tabs>
